<div class="container-fluid footer margin-frame">
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 menubtm'>
                    <a href='#' class="badge badge-primary">Главная</a>
                    <a href='#' class="badge badge-primary">Главная</a>
                    <a href='#' class="badge badge-primary">Главная</a>
                    <a href='#' class="badge badge-primary">Главная</a>
                    <a href='#' class="badge badge-primary">Главная</a>
                    <a href='#' class="badge badge-primary">Главная</a>
                </div>
            </div>
            <div class="row">
                <div class='col-lg-8 col-md-8 col-sm-6 col-xs-6'>
                    <p>&copy; 2017 Красноярский государственный медицинский университет</p>
                    <p>Сайт о сайтах. Все права защищены</p>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
                    <p>LOGO 1</p>
                    <p>LOGO 2</p>
                </div>
            </div>
        </div>
    </div>
</div>